:root {
  --light-purple: rgb(146, 127, 191);
  --dark-purple: rgb(79, 59, 120);
  --silver: rgb(192, 192, 192);
  --dim-gray: rgb(105, 105, 105);
}

body {
  font-family: "Georgia", "Verdana", "Arial", "Times New Roman", Times, serif;
  background-color: rgb(220, 220, 220);
  letter-spacing: 1px;
}

h1 {
  font-size: 75px;
  font-weight: 700;
  color: var(--dark-purple);
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

.intro-container {
  margin: 200px auto;
}

.intro {
  max-width: 700px;
  width: 100%;
}
.img-self {
  max-width: 275px;
  background-color: var(--light-purple);
}

.img-self-bg {
  background-color: var(--light-purple);
}
